@model IEnumerable<NotDefteriPlusMVC.ViewModels.Notlar.NotListeleVM>

@{
    ViewData["Title"] = "Listele";
}

<h1>Listele</h1>

<p>
    <a class="btn btn-primary" asp-action="Ekle">Yeni Not Ekle</a>
</p>
<table class="table table-bordered table-striped text-center align-middle">
    <thead class="table-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Baslik)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fakulte)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bolum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ders)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KullaniciAd)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <input type="hidden" asp-for="@item.NotId" />
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Baslik)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Fakulte)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Bolum)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Ders)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.KullaniciAd)
                </td>
                <td>
                    <a asp-route-id="@item.NotId" asp-action="Guncelle" class="btn btn-primary mt-2">Güncelle</a> <br />
                    <a asp-route-id="@item.NotId" asp-action="Detay" class="btn btn-success mt-2">Detay</a> <br />
                    <form asp-action="Sil" asp-route-id="@item.NotId" method="post" onsubmit="return confirm('Emin misiniz?')" style="display:inline;">
                        <button type="submit" class="btn btn-danger mt-2">Sil</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
